body {
  background: #c0c0c0;
  font-family:Roboto,Helvetica Neue,sans-serif;
  color: #666;
}

.login {
  margin: 20px auto;
  padding: 40px 50px;
  max-width: 300px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 1px 1px 1px #666;
}
  .login input {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 14px 12px;
    font-size: 16px;
    border-radius: 2px;
    font-family: Roboto,Helvetica Neue,sans-serif
  }

.login input[type=text],
.login input[type=password] {
  border: 1px solid #c0c0c0;
  transition: .2s;
}

.login input[type=text]:hover {
  border-color: #005a9e;
  outline: none;
  transition: all .2s ease-in-out;
}

.login input[type=submit] {
  border: none;
  font-weight: bold;
  transition: 0.2s;
  margin: 20px 0px;
  color: white;
  background: #005a9e;
}

.login input[type=submit]:hover {
  background: black;
}

  .login h2 {
    margin: 20px 0 0;
    color: #005a9e;
    font-size: 28px;
  }

.login p {
  margin-bottom: 40px;
}

.links {
  display: table;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #c0c0c0;
  margin-bottom: 10px;
}

  .login h2,
  .login p,
  .login a {
    text-align: center;
  }

.login a {
  text-decoration: none;
  font-size: .8em;
}
