/* You can add global styles to this file, and also import other style files */
@import "assets/styles/display";
@import "assets/styles/margin";
@import "assets/styles/padding";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: rgb(229 237 245);
}
