html[layout='joy'] {
  --df-primary-bg: #FFD954;
  --df-gray-bg: #E9E8D9;
  --sbt-bradius: 0.125rem;
  --sbt-bradius-xs: calc(var(--sbt-bradius) * 4);
  /* 8 value */
  --sbt-bradius-sm: calc(var(--sbt-bradius) * 8);
  /* 16 value */
  --sbt-bradius-md: calc(var(--sbt-bradius) * 12);
  /* 24 value */
  --sbt-bradius-lg: calc(var(--sbt-bradius) * 16);
  /* 32 value */

  .df-back-btn-container {
    background: var(--df-gray-bg) !important;
    border-radius: var(--sbt-bradius-md);
    margin: 1rem;
    z-index: 2;
    position: relative;
  }

  .df-back-btn {
    margin-left: 4px;
  }

  .df-main-content {
    background: var(--df-gray-bg) !important;
    border-radius: var(--sbt-bradius-md);

    @media (max-width: 768px) {
      margin: 1.5rem 0;
      padding: 1.5rem;
    }
    .df-btn {
      border-radius: var(--sbt-bradius-24) !important;
      height: 2.5rem !important;
      padding: 0.5rem 1.5rem !important;
    }
  }

  .df-side-content {
    background: var(--white);
    border-radius: var(--sbt-bradius-md);
    margin-right: 1.5rem;

    @media (max-width: 768px) {
      margin-right: 0;
      padding: 1rem;
    }
  }

  .df-sidebar-menu-list:hover,
  .menu-active {
    background: var(--df-gray-bg) !important;
    font-weight: 700;
    border-left: 3px solid #005391;
    color: #002e50;
  }

  .df-sidebar-menu-list:hover {
    background: var(--df-gray-bg) !important;
    font-weight: 700;
    color: #002e50;
  }

  /* start discussion modal */
  .discussion-start-modal .discussion-start-modal-content {
    .discussion-start-form .start-form-field .start-form-field-control {
      border-radius: var(--sbt-bradius-md) !important;
      padding-left: 1rem;
    }
  }

  .ng2-tag-input {
    border-radius: var(--sbt-bradius-md) !important;
    padding: 0.25rem 1rem 0 1rem;
    font-size: 0.875rem;
    border: .0625rem solid var(--gray-200);
  }

  .ng2-tag-input.ng2-tag-input--focused {
    border-color: var(--primary-400) !important;
    border-bottom: 0.0625rem solid !important;
  }
}